*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: #3aafb9;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #093a3e;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

header {
  background-color: #999;
  background-image: url(../img/strongmen.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 50px;  
  position:fixed;
  right:0;
  left:0;
  z-index:100;
} 

header img {  
  top: 325px;
  height: auto;
  width: 60%;  
  padding-bottom: 1.3em;
  padding-top: .5em;
  position: relative;  
  max-width: 750px;
  min-width: 275px;
  -webkit-transform: translateZ(0);
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;text-shadow: h v blur rgb(0, 0, 0);
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

.center hr {
  min-width: 100%;
}

.wrap {    
    height:auto;    
    position:relative;
    z-index:200;
    top: 700px;
    background-color: #fff;
    padding-top: 50px;
}

@media screen and (min-width: 800px) {
  header {
    height: 700px;
  }
}

@media screen and (max-width:  800px) {
  header{
    height: 400px;
  }
  header img{
    height: auto;
    top: 100px;
    width: 95%;
  }
  .wrap{
    top: 300px;
  }
}

@media only screen and (max-width : 800px){
  header img {
    top:10em;    
  }
  .wrap{
    top: 400px;
  }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  header img {
    top:10em;    
  }
  .wrap{
    top: 400px;
  }

}

/* ------------------- Work -------------------*/

.work-display {
  text-align: center;  
  margin-left: auto;
  margin-right: auto;
  height:auto;    
  position:relative;
  z-index:200;
  top: 50px;
  background-color: #fff;
  padding-top: 50px;
  width: 74%;
  padding-bottom: 50px;

}

.work-display img {
  border-radius: 3%;
  overflow: hidden;
  margin-bottom: 15px; 
}

.work-display p {
  line-height: 1.8;
  padding-top: 15px;
  font-size: 1.1em;
  text-align: left;
}

.work-display span {
  text-align: left;
  vertical-align: middle;
  padding-top: 10%;
  line-height: 1.8;
  padding-bottom: 2em;
  font-size: 1.1em;
}

/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* ------------------- Gallery ------------------- */

.gallery [class*="grid-2"], .gallery [class*="grid-3"]  {
  margin-bottom: 1%;
  margin-top: 1%;
  width: 50%;
}

.gallery a img {
  -webkit-transform: translateZ(0); /* Fix chrome pixel shift */
  transition: opacity .2s ease;
  opacity: 1;
  max-height: 250px;
}

.gallery a img:hover {
  opacity: .8;
}

.gallery h2 {
  text-align: center;
}

@media screen and (min-width: 40em) {
  .gallery .grid-2 {
    width: 33.3333333%;
  }
}


/* Experience */
.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p {
    text-align: left;
  }
}


/*------------------- Education Block -------------------*/
.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}



/*------------------- Spotlight -------------------*/
.spotlight {
  background-color: #bfddf3;
  padding: 3em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

.spotlight img {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto; 
  display: block;
  border-radius: 2%;
  overflow: hidden; 
}

.spotlight h1 {
  color: #093a3e;
}

.spotlight p {
  color: #093a3e;
  font-size: 1.1em;
}

.spotlight a {
  background-color: transparent;
  border: 3px solid #093a3e;
  padding: 7px 35px;
  border-radius: 3px;
  color: #093a3e;
  font-size: 1.1em;
  opacity: .8;
  margin-bottom: 10px;
}

.spotlight a:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .spotlight {
    padding: 6em;
    text-align: left;
  }
  
  .spotlight h1, .spotlight p {
    text-align: left;
  }

}


/*------------------- Contact list -------------------*/

.contact {
  padding: 50px 0;
  text-align: center;    
}

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: #bbb;
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
  transition: color .3s;  
}

.social:hover {
  color: #093a3e;
  cursor: pointer;
}

.social {
  box-shadow: rgb(210, 210, 210) 1px 1px,
    rgb(210, 210, 210) 2px 2px,
    rgb(211, 211, 211) 3px 3px,
    rgb(211, 211, 211) 4px 4px,
    rgb(211, 211, 211) 5px 5px,
    rgb(212, 212, 212) 6px 6px,
    rgb(212, 212, 212) 7px 7px,
    rgb(212, 212, 212) 8px 8px,
    rgb(213, 213, 213) 9px 9px,
    rgb(213, 213, 213) 10px 10px,
    rgb(214, 214, 214) 11px 11px,
    rgb(214, 214, 214) 12px 12px,
    rgb(214, 214, 214) 13px 13px,
    rgb(215, 215, 215) 14px 14px,
    rgb(215, 215, 215) 15px 15px,
    rgb(215, 215, 215) 16px 16px,
    rgb(216, 216, 216) 17px 17px,
    rgb(216, 216, 216) 18px 18px,
    rgb(216, 216, 216) 19px 19px,
    rgb(217, 217, 217) 20px 20px,
    rgb(217, 217, 217) 21px 21px,
    rgb(218, 218, 218) 22px 22px,
    rgb(218, 218, 218) 23px 23px,
    rgb(218, 218, 218) 24px 24px,
    rgb(219, 219, 219) 25px 25px,
    rgb(219, 219, 219) 26px 26px,
    rgb(219, 219, 219) 27px 27px,
    rgb(220, 220, 220) 28px 28px,
    rgb(220, 220, 220) 29px 29px,
    rgb(221, 221, 221) 30px 30px;
   text-shadow: rgb(226, 226, 226) 1px 1px,
    rgb(227, 227, 227) 2px 2px,
    rgb(227, 227, 227) 3px 3px,
    rgb(228, 228, 228) 4px 4px,
    rgb(229, 229, 229) 5px 5px,
    rgb(229, 229, 229) 6px 6px,
    rgb(230, 230, 230) 7px 7px,
    rgb(230, 230, 230) 8px 8px,
    rgb(231, 231, 231) 9px 9px,
    rgb(232, 232, 232) 10px 10px,
    rgb(232, 232, 232) 11px 11px,
    rgb(233, 233, 233) 12px 12px,
    rgb(233, 233, 233) 13px 13px,
    rgb(234, 234, 234) 14px 14px,
    rgb(235, 235, 235) 15px 15px,
    rgb(235, 235, 235) 16px 16px,
    rgb(236, 236, 236) 17px 17px,
    rgb(236, 236, 236) 18px 18px,
    rgb(237, 237, 237) 19px 19px,
    rgb(238, 238, 238) 20px 20px;
}



/*------------------- Nav Menu -------------------*/

nav {
    height: 45px;
    width: 100%;
    background: #093a3e;
    font-size: 12pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    border-bottom: 2px solid white;
    z-index: 500;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 325px;    
    height: 40px;

}

nav li {
    display: inline;
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav a {
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
}

nav li a {
    border-right: 1px solid white;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #97c8eb;
    color: #3aafb9;
}

nav a#pull {
    display: none;
}       

nav .hamburger {
  display: none;
}

/*------------------- nav media queries -------------------*/

@media screen and (max-width: 600px) {
    nav { 
        height: auto;
    }

    nav .hamburger {
      display: inline;
      text-align: right;
      width: 100%;
      color: white;     
    }

    nav ul {
        width: 100%;
        display: none;
        height: auto;
        text-align: right;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
        text-align: right;
    }

    nav li a {
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
    }
    nav a {
        text-align: right;
        width: 100%;
        text-indent: 25px;
        padding-right: 5px;
    }

    nav a#pull {
        display: block;
        background-color: #EF4136;
        width: 100%;
        position: relative;
    }

    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }

    nav li {      
      width: 100%;           
    }

    nav ul {
        display: none;
        height: auto;
    }
  
    nav a {
        text-align: right;
        width: 100%;
        text-indent: 25px;
    }

    nav a#pull {
        display: block;
        background-color: #EF4136;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #ED1C24;
    }
}


/*------------------- Hamburger menu nav -------------------*/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Menu Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }


/*------------------- JavaScript Games -------------------*/

canvas {
  vertical-align: middle;
  background-color: #093A3E; 
 /*  border-radius: 3%;
  overflow: hidden;  */
}

#gameCanvas {
  margin-bottom: 40px;
  padding: 0 0;
}

#phaserGame {
  padding: 0 0;
}

/*------------------- JavaScript Quiz -------------------*/
#questionbox {  
  margin: 0 auto;   
  position: relative;
  float: none;
  min-width: 250px;
  max-width: 700px;
  min-height: 300px; 
  border: 4px solid rgba(28, 73, 119,0.8);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 14px/1 "Times New Roman", Times, serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: rgba(134, 153, 171, .89);
  margin-bottom: 5%;
  text-align: left;
}

#answer-form {
  font-family: sans-serif;
  color: white;
  font-weight: 15px;
}


/*Question box buttons*/

.button {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
  background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e; 
}

.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}

.button:active {
  position:absolute;
}

#submitButton { 
  float: right; 
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 1%;
  margin-bottom: 1px;   
}

#backButton {
  float: left;  
  bottom: 0;  
  position: absolute;
  margin-left: -1%;
  margin-bottom: 1px; 
  text-align: left;
  
}

#nextButton {
  float: right; 
  bottom: 0;
  right: 0;
  position: absolute;
  margin-right: 1%;
  margin-bottom: 1px;
}

#display-question { 
  margin-top: 5px;
  font: normal 18px sans-serif;
  color: white;
  text-align: center;
}

#diplay-submit-question {
  top: 50%;
  margin-top: 5px;
  font: normal 18px sans-serif;
  color: white;
  text-align: center;
}

.work-display #score-div{
  top: 50%;
  margin-top: 5px;
  font: normal 25px sans-serif;
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


/*------------------- Back to top button -------------------*/
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #093a3e url("../img/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}