html{
	
}

/*------------------- Nav Menu -------------------*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #272932;
}

.overlay {
  font-family: 'Exo 2', sans-serif;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 400;
  left: 0;
  top: 0;
  background-color: #272932;
  opacity: 0.98;
  overflow-x: hidden;
  transition: .5s;
  overflow: hidden;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #e7ecef;
  display: block;
  transition: .3s;}

.overlay a:hover, .overlay a:focus {
  color: #f05d5e;
}

.closebtn{
  font-family: sans-serif;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#hamburger {
  color: #f05d5e;
  margin-top: 1px;  
  margin-bottom: 1em;
  z-index: 5; 
  margin-left: 95%;  
}

#hamburger:hover {
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .hamburger {
    margin-top: 2px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1000px){
  #hamburger {
    margin-left: 85%;
  }  
}
